services:
  - type: web
    name: djsam-gallery-api
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: UPLOAD_PASSWORD
        sync: false
